<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kyper</title>

        <!-- CSS -->
    <!--     <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500"> -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/typicons/typicons.min.css">
        <link rel="stylesheet" href="assets/css/animate.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
		<link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- <link rel="stylesheet" href="assets/css/media-queries.css"> -->

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="icon" type="image/png" href="assets/favicon/favicon_kyper.png">
        <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png"> -->
        <!-- <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png"> -->
        <!-- <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png"> -->
        <!-- <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png"> -->

    </head>

    <body>
    	
    	<div class="success-message">
    		<p id="success">Success!</p>
    		<p id="message"> </p>
    	</div>

    	<div id="div_recommendBox">
    		<p id="p_exit">X<p>
			<iframe name="hidden_iframe2" id="hidden_iframe2"
			style="display:none;" onload="recommendData()"></iframe>
			<form class="form-inline" action="https://docs.google.com/forms/d/1ytyHm1UadjMhiawpy4y14JhHIskjT4yekY386tRC0Jw/formResponse?" method="POST" target="hidden_iframe2" onsubmit="googleSubmit()">
            	<div class="form-group">
            		<div>
            		<textarea name="entry.250135512" rows="6" cols="0" id="entry_250135512" dir="auto" aria-label="What Data? Which Vendor? <br> Example: corporate events from Wall Street Horizon  "></textarea>
                	</div>
               		<button type="submit" class="button-lightBlue" id="signup_button">SUBMIT  </button>
                </div>
            </form>
        </div>

        <!-- Loader -->
    	<div class="loader">
    		<div class="loader-img"></div>
    	</div>
				
        <!-- Top content -->
        <div class="top-content">
        	
        	<!-- Top menu -->
			<nav class="navbar navbar-inverse" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">
							<img src="./assets/img/KyperLogo_dark_theme_2.png" data-at2x="./assets/img/KyperLogo_dark_theme_2.png" />
						</a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="top-navbar-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a class="scroll-link" href="#video">VIDEO</a></li>
							<li><a class="scroll-link" href="#features">FEATURES</a></li>
							<li><a class="scroll-link" href="#onDemand">DATA</a></li>
							<li><a class="scroll-link" href="#about-us">TEAM</a></li>
							<li><a class="scroll-link" href="#partners">PARTNERS</a></li>
						</ul>
					</div>
				</div>
			</nav>
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text">
                        	<!-- <div class="main_info"> -->
                            <h1 class="wow fadeInLeftBig"> We deliver data. <br> You make better decisions. </h1>
                            <div class="description wow fadeInLeftBig">
                            	<p>
	                            	<span id="span">Kyper</span> is a cloud-based platform that facilitates <br>comprehensive data exchange and analytics
                            	</p>
                            </div>
                        </div>
                        <div class="col-sm-12 text">
                            <div class="subscribe wow fadeInUp">
	                			<iframe name="hidden_iframe" id="hidden_iframe"
								style="display:none;" onload="googleLoad()"></iframe>
	                			<form class="form-inline" action="https://docs.google.com/forms/d/1SuFxcc1Fvk-NYPc3xiJ4XbgnxR0tIWlkApSZA41FQjQ/formResponse?" method="POST" target="hidden_iframe" onsubmit="googleSubmit()">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="name">NAME</label>
			                        	<input type="text" placeholder="NAME" class="signup form-control" name="entry.929396479" id="entry_929396479">
			                        	<label class="sr-only" for="email">EMAIL</label>
			                        	<input type="text" placeholder="EMAIL" class="signup form-control" name="entry.10541188" value="" class="ss-q-short valid" id="entry_10541188">
			                       		<button type="submit" class="button-lightBlue" id="signup_button">SIGN UP  </button>
			                        </div>
			                    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
        <!-- Video -->
        <div class="video-container section-container section-container-gray-bg">
	        <div class="container">
	        	<div class="row">
	                <div class="col-sm-12 how-it-works section-description wow fadeIn">
	                    <h2>Kyper unites data providers and data users</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                </div>
	            </div>
                <div class="row">
	                <div class="col-sm-12 how-it-works wow fadeIn">
	                	<div class="col-sm-1">
	                		<div class="div_blueCircle"><p>1</p></div>
	                	</div>
	                	<div class="col-sm-11">
		                    <p class="paragraphLeft">Data providers can confidently and efficiently deliver content while mitigating data leakage associated with traditional data distribution services.</p>
						</div>
	            	</div>
	            </div>
	            <div class="row">
	                <div class="col-sm-12 how-it-works wow fadeIn">
	                	<div class="col-sm-1">
	                		<div class="div_blueCircle"><p>2</p></div>
	                	</div>
	                	<div class="col-sm-11">
		                    <p class="paragraphLeft">Data users can easily access datasets of interest to explore relationships, visualize patterns, and develop algorithms. Users may integrate proprietary data, collaborate with colleagues, and share results.
		                    </p>
						</div>
	                </div>
	            </div>
	        </div>
	            <div class="row">
	        		<video id="video" controls="" preload="none" mediagroup="myVideoGroup" poster="./assets/img/backgrounds/video_background.png" onclick="this.play(); startVideo();" onended="endVideo();" onpause="endVideo();">
				      <source id="mp4" src="./assets/kyperVideo.mp4" type="video/mp4">
				      <p>Your user agent does not support the HTML5 Video element.</p>
				    </video>
	        	</div>
        </div>


        <!-- Features -->
        <div class="features-container section-container">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 section-description wow fadeIn">
	                    <h2>Features</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                </div>
	            </div>
	            <div class="row">
                	<div class="col-sm-12">
	                	<img class="features_image" src="./assets/img/product-screenshot.png"/>
                	</div>
                </div>
                <div class="row">
                	<div class="col-sm-4 wow fadeInUp">
                		<div class="row">
	                    	<div class="col-sm-2">
			                	<div class="div_blueCircle"><p>1</p></div>
			                </div>
							<div class="col-sm-8">
			                	<h3>High quality <br> on-demand data</h3>
			                </div>
			            </div>
	                    <p class="paragraphLeft">Instant access to high quality structured and unstructured datasets from respected data providers.
						</p>
                    </div>
                    <div class="col-sm-4 wow fadeInDown">
                    	<div class="row">
	                    	<div class="col-sm-2">
			                	<div class="div_blueCircle"><p>2</p></div>
			                </div>
							<div class="col-sm-8">
			                	<h3>Cloud analytics & visualization </h3>
			                </div>
			            </div>
	                    <p class="paragraphLeft">Perform statistical analysis, machine learning, natural language processing, and interactive visualizations in Kyper’s cloud environment.
	                    </p>
                    </div>
                    <div class="col-sm-4 wow fadeInUp">
                    	<div class="row">
	                    	<div class="col-sm-2">
			                	<div class="div_blueCircle"><p>3</p></div>
			                </div>
							<div class="col-sm-8">
			                	<h3>Collaborative <br> workspace</h3>
			                </div>
			            </div>
	                    
	                    <p class="paragraphLeft">Share results seamlessly with friends, colleagues, and clients. Stop emailing Excel spreadsheets and use Kyper to collaborate.</p>
                    </div>
                </div>
	        </div>
        </div>

		<!-- Data -->
        <div class="onDemand-container section-container">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 section-description wow fadeIn">
	                    <h2>On-Demand Data</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                    <p>Kyper’s data catalog includes everything from traditional financial content to novel big datasets</p>
	                </div>
	            </div>
	            <div class="row">
                	<div class="col-sm-6 wow fadeInUp">
                		<div class="row">
                			<div class="col-sm-4 onDemandData wow fadeInUp">
                				<div>
		                			<img class="data_icon" src="./assets/img/dataIcon/market.png" data-at2x="./assets/img/dataIcon/market.png"/>
		                			<p>Market</p>
		                		</div>
		                		<div>
		                			<img class="data_icon" src="./assets/img/dataIcon/socialMedia.png" data-at2x="./assets/img/dataIcon/socialMedia.png"/>
		                			<p>Social Media</p>
		                		</div>
		                		<div>
		                			<img class="data_icon" src="./assets/img/dataIcon/census.png" data-at2x="./assets/img/dataIcon/census.png"/>
		                			<p>Census</p>
		                		</div>
                			</div>
                			<div class="col-sm-4 onDemandData wow fadeInUp">
                				<div>
		                			<img class="data_icon" src="./assets/img/dataIcon/news.png" data-at2x="./assets/img/dataIcon/news.png"/>
		                			<p>News</p>
		                		</div>
		                		<div>
		                			<img class="data_icon" src="./assets/img/dataIcon/webTraffic.png" data-at2x="./assets/img/dataIcon/webTraffic.png"/>
		                			<p>Web Traffic</p>
		                		</div>
		                		<div>
		                			<img class="data_icon" src="./assets/img/dataIcon/weather.png" data-at2x="./assets/img/dataIcon/weather.png"/>
		                			<p>Weather</p>
		                		</div>
                			</div>
                			<div class="col-sm-4 onDemandData wow fadeInUp">
                				<div>
		                			<img class="data_icon" src="./assets/img/dataIcon/financial.png" data-at2x="./assets/img/dataIcon/financial.png"/>
		                			<p>Financial</p>
		                		</div>
		                		<div>
		                			<img class="data_icon" src="./assets/img/dataIcon/realEstate.png" data-at2x="./assets/img/dataIcon/realEstate.png"/>
		                			<p>Real Estate</p>
		                		</div>
		                		<div>
		                			<img class="data_icon" src="./assets/img/dataIcon/agriculture.png" data-at2x="./assets/img/dataIcon/agriculture.png"/>
		                			<p>Agriculture</p>
		                		</div>
                			</div>
                			<div class="col-sm-12 onDemandData wow">
                				<p class="andMore"> view more ... </p>
                				<div id="andMore">
                					<h3>Item and Providers </h3>
                					<div class="col-sm-6">
                						<div class="div_dataItem">
                							<p>NOAA global weather data</p>
                							<p>Technical indicators for major markets</p>
                							<p>Option pricing data for major markets</p>
                							<p>Factor model data folr US markets</p>
                							<p>US Census data</p>
                						</div>
                						<p class="providerLabel">Kyper</p>
                					</div>
                					<div class="col-sm-6">
                						<div class="div_dataItem">
                							<p>US equity market tick data</p>
                							<p>US future market tick data</p>
                							<p>Europe equity market tick data</p>
                							<p>Europe future market tick data</p>
                							<p>Asian market data</p>
                							<p>AP news database</p>
                						</div>
                						<p class="providerLabel">Barchart</p>
                					</div>
                					<div class="col-sm-6">
                						<div class="div_dataItem">
                							<p>US corporate earning report</p>
                							<p>US coprate fudementals</p>
                							<p>US economic indicators</p>
                							<p>US Corporate events</p>
                							<p>US corporate rating</p>
                						</div>
                						<p class="providerLabel">Wall Street Horizon, MorningStar</p>
                					</div>
                					<div class="col-sm-6">
                						<div class="div_dataItem">
                							<p>Taiwan equity data</p>
                							<p>China equity data</p>
                							<p>Hongkong equity data</p>
                							<p>Korea equity data</p>
                							<p>SINGAPORE equity data</p>
                							<p>MALAYSIA equity data</p>
                							<p>THAILAND equity data</p>
                							<p>PHILIPPINES equity data</p>
                							<p>Japan equity data</p>
                							<p>Taiwan corporate fundamental data</p>
                							<p>China corporate fundamental data</p>
                							<p>Hongkong corporate fundamental data</p>
                							<p>Korea corporate fundamental data</p>
                							<p>SINGAPORE corporate fundamental data</p>
                							<p>MALAYSIA corporate fundamental data</p>
                							<p>THAILAND corporate fundamental data</p>
                							<p>PHILIPPINES corporate fundamental data</p>
                							<p>Japan corporate fundamental data</p>
                							<p>Taiwan economic indicators</p>
                							<p>China economic indicators</p>
                							<p>Hongkong economic indicators</p>
                							<p>Korea economic indicators</p>
                							<p>SINGAPORE economic indicators</p>
                							<p>MALAYSIA economic indicators</p>
                							<p>THAILAND economic indicators</p>
                							<p>PHILIPPINES economic indicators</p>
                							<p>Japan economic indicators</p>
                							<p>Taiwan mutual fund data</p>
                							<p>Taiwanbond data</p>
                						</div>
                						<p class="providerLabel">TEJ</p>
                					</div>
                					</table>
                				</div>
                			</div>
			            </div>
                    </div>
                    <div class="col-sm-6 pricing-box wow fadeInUp">
                		<div id="div_d3Visualization" >
						    <object type="text/html" data="https://static.kyper.co/hank.chu/coffee_heatmap.html">
						    </object>
						    <p id="d3Caption">Heat-map of Coffee Production</p>
                		</div>
                		<div class="button-lightBlue" id="div_recommendData">
                			<p> Recommend data you are interested in </p>
                		</div>
                		
                    </div>
	            </div>
	        </div>
        </div>
        
        
        <!-- About us -->
        <div class="about-us-container section-container">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 about-us section-description wow fadeIn">
	                    <h2>Kyper's Team</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                    <p>Talented, experienced & proven team players</p>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-3 about-us-box wow fadeInUp">
		                <div class="about-us-photo">
		                	<img>
		                	<div class="about-us-role">CEO</div>
		                </div>
		                <div class="div_bio">
		                    <!-- <h4>Michael Chang</h4> -->
		                    <p>Michael started his first startup 4 years ago, building one of the early big data asset management funds. He has extensive experience in data science, supply chain management and biomedical instrumentation. His work has been featured on the cover stories on several prestigious journals including Nature Method, Lab-on-Chip and Traders. Michael holds a diploma from NTU, Taiwan and a Ph.D from MIT EECS. </p>
		                </div>
		                 <p> Michael Chang </p>
	                </div>
	                <div class="col-sm-3 about-us-box wow fadeInDown">
		                <div class="about-us-photo">
		                	<img>
		                	<div class="about-us-role">COO</div>
		                </div>
		                <div class="div_bio">
		                    <!-- <h4>David Nichtenhauser</h4> -->
		                    <p>David has nearly thirty years’ experience in trading, and portfolio and asset management. He has worked at various banks and hedge funds in Europe and the United States. In 2013, following three years as portfolio manager at the Abu Dhabi Investment Authority, David joined Flyberry Capital, a quantitative hedge fund in Cambridge. He received a BS in Applied Economics at Cornell University in 1986.</p>
		                </div>
		                <p> David Nichtenhauser</p>
	            	</div>
	            	<div class="col-sm-3 coreTeam about-us-box wow">
		                <div class="about-us-photo">
		                	<img>
		                	<div class="about-us-role">Lead Backend Engineer</div>
		                </div>
		                <p class="p_teamName">Kyle Solan</p>
	                </div>
	            	<div class="col-sm-3 coreTeam about-us-box">
		                <div class="about-us-photo">
		                	<img>
		                	<div class="about-us-role">Data Development Manager</div>
		                </div>
		                <p class="p_teamName">Adam Falls</p>
	                </div>
				</div>
	            <div class="row">
	                <div class="col-sm-3 coreTeam about-us-box wow">
		                <div class="about-us-photo">
		                	<img>
		                	<div class="about-us-role">Senior Software Engineer</div>
		                </div>
		                <p class="p_teamName">Itzu Chen</p>
	                </div>
	                <div class="col-sm-3 coreTeam about-us-box">
		                <div class="about-us-photo">
		                	<img>
		                	<div class="about-us-role">Software Engineer</div>
		                </div>
		                <p class="p_teamName">Ana Ruelas</p>
	                </div>
	                <div class="col-sm-3 coreTeam about-us-box wow">
		                <div class="about-us-photo">
		                	<img>
		                	<div class="about-us-role">Product Manager</div>
		                </div>
		                <p class="p_teamName">Jacqueline Hung</p>
	                </div>
	                <div class="col-sm-3 coreTeam about-us-box wow">
		                <div class="about-us-photo">
		                	<img>
		                	<div class="about-us-role">Quantitative Analyst</div>
		                </div>
		                <p class="p_teamName">Prasanth Varma</p>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-3 coreTeam about-us-box">
		                <div class="about-us-photo">
		                	<img>
		                	<div class="about-us-role">Applications Engineer</div>
		                </div>
		                <p class="p_teamName">Hank Chu</p>
	                </div>
	                <div class="col-sm-3 coreTeam about-us-box wow">
		                <div class="about-us-photo">
		                	<img>
		                	<div class="about-us-role">VP Operations</div>
		                </div>
		                <p class="p_teamName">Chih-Wei Chang</p>
	                </div>
	                <div class="col-sm-3 coreTeam about-us-box wow">
		                <div class="about-us-photo">
		                	<img>
		                	<div class="about-us-role">Executive Assistant</div>
		                </div>
		                <p class="p_teamName">Patricia Skoby</p>
	                </div>
	                <!-- Taiwan team -->
	                <div class="col-sm-3 coreTeam about-us-box wow">
		                <div class="about-us-photo">
		                	<img>
		                	<div class="about-us-role">Director of Operation</div>
		                </div>
		                <p class="p_teamName">Alvin Lin</p>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-3 coreTeam about-us-box wow">
		                <div class="about-us-photo">
		                	<img>
		                	<div class="about-us-role">Lead Manager</div>
		                </div>
		                <p class="p_teamName">Wu-Sung Peng</p>
	                </div>
	                <div class="col-sm-3 coreTeam about-us-box wow">
		                <div class="about-us-photo">
		                	<img>
		                	<div class="about-us-role">Product Manager</div>
		                </div>
		                <p class="p_teamName">LC Huang</p>
	                </div>
	                <div class="col-sm-3 coreTeam about-us-box wow">
		                <div class="about-us-photo">
		                	<img>
		                	<div class="about-us-role">Project Manager</div>
		                </div>
		                <p class="p_teamName">Yi-Kai Lin</p>
	                </div>
	                <div class="col-sm-3 coreTeam about-us-box wow">
		                <div class="about-us-photo">
		                	<img>
		                	<div class="about-us-role">Software Engineer</div>
		                </div>
		                <p class="p_teamName">Poc Hsu</p>
	                </div>
	        	</div>
	        </div>
        </div>

        <!-- Partners -->
        <div class="partners-container section-container">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 testimonials section-description wow fadeIn">
	                    <h2>Data Partners</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-4 wow fadeInUp">
		                	<img class="img_partners" src="./assets/img/dataIcon/clockTime.png" data-at2x="./assets/img/dataIcon/clockTime.png">
		                <h3>New distribution channel, <br> new use cases </h3>
	                	<p class="paragraphLeft">The data science community are leveraging data in ways previously unimagined. Kyper introduces data providers to new markets of sophisticated users.</p>
	                </div>
	                <div class="col-sm-4 wow fadeInDown">
	                	<img class="img_partners" src="./assets/img/dataIcon/userGroup.png" data-at2x="./assets/img/dataIcon/userGroup.png">
	                	<h3>Quick evaluation, <br> quick sales conversions</h3>
	                	<p class="paragraphLeft">Users can quickly evaluate whether your dataset suits their needs, which leads to shorter, lower-cost sales cycles.</p>
	                </div>
	                <div class="col-sm-4 wow fadeInUp">
	                		<img class="img_partners" src="./assets/img/dataIcon/browser.png" data-at2x="./assets/img/dataIcon/browser.png">
	                	<h3>Better data management, <br> better insights</h3>
	                	<p class="paragraphLeft">Vendors can easily manage their data flow, design better data content, and implement flexible pricing structures.</p>
	                </div>
	            </div>
	            <div class="row">
	            	<div class="button-lightBlue" id="div_becomePartner">
            			<p onClick="parent.location='mailto:contact@kyperdata.com?subject=Interested in Partnering with Kyper'"> Become our partner <br> and get featured! 
            			</p>

            		</div>
	            </div>
	        </div>
        </div>

        
        <!-- Want early Access -->
        <div class="earlyAccess-container section-container section-container-image-bg">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12">
	                	<h2> Want early access? </h2>
	                	<div class="subscribe wow fadeInUp">
	                		<iframe name="hidden_iframe" id="hidden_iframe"
							style="display:none;" onload="googleLoad()"></iframe>
                			<form class="form-inline" action="https://docs.google.com/forms/d/1SuFxcc1Fvk-NYPc3xiJ4XbgnxR0tIWlkApSZA41FQjQ/formResponse?" method="POST" target="hidden_iframe" onsubmit="googleSubmit()">
		                    	<div class="form-group">
		                    		<div>
		                    		<label class="sr-only" for="name">NAME</label>
		                        	<input type="text" placeholder="NAME" class="signup form-control" name="entry.929396479" id="entry_929396479">
		                        	</div>
		                        	<div>
		                        	<label class="sr-only" for="email">EMAIL</label>
		                        	<input type="text" placeholder="EMAIL" class="signup form-control" name="entry.10541188" value="" class="ss-q-short valid" id="entry_10541188">
		                        	</div>
		                        	<div>
		                        	<label class="sr-only" for="company">COMPANY</label>
		                        	<input type="text" placeholder="COMPANY" class="signup form-control" name="entry.1222483156" value="" class="ss-q-short" id="entry_1222483156">
		                        	</div>
		                       		<button type="submit" class="button-lightBlue" id="signup_button">SIGN UP  </button>
		                        </div>
		                    </form>
                        </div>
	                </div>
	            </div>
	        </div>
        </div>

       	<!-- Contact Info -->
        <div class="contact-container section-container section-container-image-bg">
			<div class="row">
	            <div class="col-sm-4">
	            	<p class="contactLabel">Contact</p>
	            	<p style="margin:0px;">contact@kyperdata.com</p>
	            	<p>+1 6178557618</p>
	            </div>
	            <div class="col-sm-4">
	            	<p class="contactLabel">Cambridge, MA</p>
	            	<p>125 Cambridgepark Dr. 3rd floor, <br>Cambridge, MA 02140</p>
	            </div>
	            <div class="col-sm-4">
	            	<p class="contactLabel">Taipei, TW</p>
	            	<p>No.398, Sec. 1, Keelung Rd. 7th floor, Xinyi Dist., 
	            	<br>Taipei City 110, Taiwan (ROC)</p>
	            </div>
	        </div>
        </div>

        <!-- Javascript -->
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/retina-1.1.0.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/scripts.js"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>