<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kyper</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">        
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/typicons/typicons.min.css">
        <link rel="stylesheet" href="assets/css/animate.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
		<link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/media-queries.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>
    
        <!-- Loader -->
    	<div class="loader">
    		<div class="loader-img"></div>
    	</div>
				
        <!-- Top content -->
        <div class="top-content">
        	
        	<!-- Top menu -->
			<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">
							<img src="./assets/img/KuiperDataLogo.png" />
						</a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="top-navbar-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a class="scroll-link" href="#video">Video</a></li>
							<li><a class="scroll-link" href="#features">Features</a></li>
							<li><a class="scroll-link" href="#onDemand">Data</a></li>
							<li><a class="scroll-link" href="#about-us">Team</a></li>
							<li><a class="scroll-link" href="#partners">Partners</a></li>
							<!-- <li><a class="btn btn-link-2 scroll-link" href="#pricing">Get it now!</a></li> -->
						</ul>
					</div>
				</div>
			</nav>
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 text">
                        	<!-- <div class="main_info"> -->
                            <h1 class="wow fadeInLeftBig"> We democratize data. <br> You make better decisions. </h1>
                            <div class="description wow fadeInLeftBig">
                            	<p>
	                            	Kyper is a single cloud platform that provides all the data and analytical tools you need – whenever and wherever. 
                            	</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-sm-offset-0.5 text">
                            <div class="subscribe wow fadeInUp">
	                			<form class="form-inline" role="form" action="assets/subscribe.php" method="post">
			                    	<div class="form-group">
			                    		<div>
			                    		<label class="sr-only" for="name">Name</label>
			                        	<input type="text" name="name" placeholder="Name" class="signup form-control" id="signup_name">
			                        	</div>
			                        	<div>
			                        	<label class="sr-only" for="email">Email</label>
			                        	<input type="text" name="email" placeholder="Email" class="signup form-control" id="signup_email">
			                        	</div>
			                       		<button type="submit" class="btn" id="signup_button">Sign Up  </button><small id="small_additionalInfo"> with other 5,566 data scientists </small>
			                        </div>
			                    </form>
			                    <div class="success-message"></div>
			                    <div class="error-message"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
        <!-- Video -->
        <div class="video-container section-container section-container-gray-bg">
	        <div class="container">
	        	<div class="row">
	                <div class="col-sm-12 how-it-works section-description wow fadeIn">
	                    <h2>Kyper connects the 3 silos of the data industry</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                </div>
	            </div>
	        	<!-- <div class="row">
	        		<div class="col-sm-12 how-it-works section-description wow fadeIn">
	                    <div class="div_videoDetail">
	                    	<div>
			                    <p>Allows vendors to feel secure about data leakage and control
								issues. Kyper offers a powerful platform for users to easily
								access, analyze and share data without the need to
								download data into their local machines.</p>
			                </div>
			                <div>
			                    <p>Allows data users to quickly analyze data and be able to return
								data which do not fit into their need. Users can also integrate
								their own data with APIs from various data sources at a
								fraction of price they would pay when they acquire data directly
								from vendors. </p>
							<div>
			                    <p>Allows different types of data participants be able to share,
								collaborate and exchange their work, in a data ecosystem
								that brings efficiency to data industry and disrupt current
								business models. </p>
			                </div>
			                </div>
	                    </div>

	                    <div id="div_relationalGraph">
	                    	<img src="./assets/img/relationalGraph.png" />
	                    </div>
	                </div> -->
	                <div class="col-sm-7 features wow videoDetail fadeIn">
	                    <div class="row">
	                    	Kyper provides a trust mechanism between data vendors and users:
			                <div class="col-sm-12 how-it-works wow fadeIn">
			                	<div class="col-sm-1">
			                		<div class="div_blueCircle"><p>1</p></div>
			                	</div>
			                	<div class="col-sm-11">
				                    <p>Allows vendors to feel secure about data leakage and control
									issues. Kyper offers a powerful platform for users to easily
									access, analyze and share data without the need to
									download data into their local machines.</p>
								</div>
			            	</div>
			            </div>
			            <div class="row">
			                <div class="col-sm-12 how-it-works wow fadeIn">
			                	<div class="col-sm-1">
			                		<div class="div_blueCircle"><p>2</p></div>
			                	</div>
			                	<div class="col-sm-11">
				                    <p>Allows data users to quickly analyze data and be able to return
									data which do not fit into their need. Users can also integrate
									their own data with APIs from various data sources at a
									fraction of price they would pay when they acquire data directly
									from vendors. </p>
								</div>
			                </div>
			            </div>
			            <div class="row">
			                <div class="col-sm-12 how-it-works wow fadeIn">
			                    <div class="col-sm-1">
			                		<div class="div_blueCircle"><p>3</p></div>
			                	</div>
			                	<div class="col-sm-11">
			                    	<p>Allows different types of data participants be able to share,
								collaborate and exchange their work, in a data ecosystem
								that brings efficiency to data industry and disrupt current
								business models</p>
								</div>
			                </div>
			            </div>
	                </div>
	                <div class="col-sm-5 features section-description wow fadeIn">
	                    <div id="div_relationalGraph">
	                    	<img src="./assets/img/3silos.png" />
	                    </div>
	                </div>
	            </div>
	        	<div class="row">
	                <div class="col-sm-12 wow fadeIn">
	                    <iframe src="https://www.youtube.com/v/TU04qPbUs7A"></iframe>
	                </div>
	            </div>

	        </div>
        </div>

        
        <!-- Features -->
        <div class="features-container section-container">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 section-description wow fadeIn">
	                    <h2>Features</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                </div>
	            </div>
	            <div class="row">
                	<div class="col-sm-12">
	                	<img class="features_image" src="./assets/img/product-screenshot.png"/>
                	</div>
                </div>
                <div class="row">
                	<div class="col-sm-4 wow fadeInUp">
                		<div class="row">
	                    	<div class="col-sm-2">
			                	<div class="div_blueCircle"><p>1</p></div>
			                </div>
							<div class="col-sm-8">
			                	<h3>High quality <br> on-demand data</h3>
			                </div>
			            </div>
	                    <p>Instant access to all high-quality
						datasets, including financial &
						novel data from all over the
						world, cleaned and managed by
						Kyper</p>
                    </div>
                    <div class="col-sm-4 wow fadeInDown">
                    	<div class="row">
	                    	<div class="col-sm-2">
			                	<div class="div_blueCircle"><p>2</p></div>
			                </div>
							<div class="col-sm-8">
			                	<h3>Cloud analytics & visualization </h3>
			                </div>
			            </div>
	                    <p>Perform statistical analysis,
						entity parser, sentiment analysis,
						one-command backtest engine
						and numerous tools on Kyper
						cloud environment</p>
                    </div>
                    <div class="col-sm-4 wow fadeInDown">
                    	<div class="row">
	                    	<div class="col-sm-2">
			                	<div class="div_blueCircle"><p>3</p></div>
			                </div>
							<div class="col-sm-8">
			                	<h3>Collaborative <br> workspace</h3>
			                </div>
			            </div>
	                    
	                    <p>Collaborate on the analysis,
						share results with colleagues
						and export into beautiful
						slideshows for presentations
						-- all in one click</p>
                    </div>
                </div>
	        </div>
        </div>

		<!-- Data -->
        <div class="onDemand-container section-container">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 section-description wow fadeIn">
	                    <h2>On-Demand Data</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                    <p>We provide high-quality and wide-coverage data on demand</p>
	                </div>
	            </div>
	            <div class="row">
                	<div class="col-sm-6 wow fadeInUp">
                		<div class="row">
                			<div class="col-sm-4 onDemandData wow fadeInUp">
                				<div>
		                			<img class="data_icon" src="./assets/img/dataIcon/market.png"/>
		                			<p>Market</p>
		                		</div>
		                		<div>
		                			<img class="data_icon" src="./assets/img/dataIcon/socialMedia.png"/>
		                			<p>Social Media</p>
		                		</div>
		                		<div>
		                			<img class="data_icon" src="./assets/img/dataIcon/census.png"/>
		                			<p>Census</p>
		                		</div>
                			</div>
                			<div class="col-sm-4 onDemandData wow fadeInUp">
                				<div>
		                			<img class="data_icon" src="./assets/img/dataIcon/news.png"/>
		                			<p>News</p>
		                		</div>
		                		<div>
		                			<img class="data_icon" src="./assets/img/dataIcon/webTraffic.png"/>
		                			<p>Web Traffic</p>
		                		</div>
		                		<div>
		                			<img class="data_icon" src="./assets/img/dataIcon/weather.png"/>
		                			<p>Weather</p>
		                		</div>
                			</div>
                			<div class="col-sm-4 onDemandData wow fadeInUp">
                				<div>
		                			<img class="data_icon" src="./assets/img/dataIcon/financial.png"/>
		                			<p>Financial</p>
		                		</div>
		                		<div>
		                			<img class="data_icon" src="./assets/img/dataIcon/realEstate.png"/>
		                			<p>Real Estate</p>
		                		</div>
		                		<div>
		                			<img class="data_icon" src="./assets/img/dataIcon/agriculture.png"/>
		                			<p>Agriculture</p>
		                		</div>
                			</div>
			            </div>
                    </div>
                    <div class="col-sm-6 pricing-box wow fadeInUp">
                		<div id="div_d3Visualization" >
                		</div>
                		<div id="div_recommendData">
                			<p> Recommand data you are interested in </p>
                		</div>
                    </div>
	            </div>
	        </div>
        </div>
        
        
        <!-- Team -->
        <div class="about-us-container section-container section-container-image-bg">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 call-to-action section-description wow fadeInLeftBig">
	                    <h2>Kyper's Team</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                    <p>Talented, experienced & proven team players</p>
	                </div>
	            </div>
	            <div class="row">
	            	<div class="col-sm-2 section-bottom-button wow fadeInUp">
	                    <img class="team_profile" />
	            	</div>
	            	<div class="col-sm-4 section-bottom-button wow fadeInUp">
                        <p>Michael Chang <br> CEO </p>             
	            	</div>
	            	<div class="col-sm-6 section-bottom-button wow fadeInUp">
	            		<p> MIT EECS Ph.D. Founder of Flyberry Capital <br>
                        Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio BioBio Bio Bio Bio Bio Bio Bio BioBio Bio Bio BioBio </p>
	            	</div>
	            </div>
	            <div class="row">
	            	<div class="col-sm-2 section-bottom-button wow fadeInUp">
	                    <img class="team_profile" />
	            	</div>
	            	<div class="col-sm-4 section-bottom-button wow fadeInUp">
                        <p>David Nichtenhauser <br> COO </p>             
	            	</div>
	            	<div class="col-sm-6 section-bottom-button wow fadeInUp">
	            		<p> Former PM in ADIA. More than 25 years of professional financial experience in quant fund and fund-of-fund <br>
                        (Will wait for the shorter bio) David has had nearly thirty years’ experience in investments management. He started his career in 1986 with Merrill Lynch as a precious metals dealer. This was followed by seven years as research associate for commodities trading adviser GRAD Commodities. In 2000, David founded Liberty Research and Trading, Inc., a New York-based CTA, where he served as President for three years. In 2004, David joined ABN Amro as vice president of hedge fund research. From 2007 to 2009, he took a similar role with private Swiss bank LGT Capital Partners. Prior to joining Flyberry, he worked three years as portfolio manager at the Abu Dhabi Investment Authority, a sovereign wealth fund. David received a BS in Applied Economics at Cornell University in 1986. </p>
	            	</div>
	            </div>
	            <div class="row">
	            	<div class="col-sm-2 section-bottom-button wow fadeInUp">
	                    <img class="team_profile" />
	            	</div>
	            	<div class="col-sm-4 section-bottom-button wow fadeInUp">
                        <p>Core Team </p>             
	            	</div>
	            	<div class="col-sm-6 section-bottom-button wow fadeInUp">
	            		<p> Senior engineers from big data quant fund Flyberry Capital.Top players from Harvard, MIT and Stanford.</p>
	            	</div>
	            </div>
	        </div>
        </div>

        <!-- Partners -->
        <div class="partners-container section-container ">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 testimonials section-description wow fadeIn">
	                    <h2>Partners</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-8 col-sm-offset-2 wow fadeInUp">
	                	<p>With Kyper, users can quickly evaluate the quality and value of your data through Kyper's analytical and visualization platform within minutes, not weeks. We help you to improve sales cycles and conversion to existing or untapped users. Based on user behaviors and analytics on our cloud platform, we can provide you valuable insights on how your data is being used.</p>
	                </div>
	            </div>
	            <div class="row">
	            	<div id="div_becomePartner">
            			<p> Become our partner! </p>
            		</div>
	            </div>
	             <!-- <div class="logos row">
	                <div class="col-sm-8 col-sm-offset-2 wow fadeInUp">
	                	<div class="row ">
		                	<div class="partners_logo col-sm-4">
		                		<img src="./assets/img/twitter_circle_color-512.png" />
		                	</div>
		                	<div class="partners_logo col-sm-4">
		                		<img src="./assets/img/twitter_circle_color-512.png" />
		                	</div>
		                	<div class="partners_logo col-sm-4">
		                		<img src="./assets/img/twitter_circle_color-512.png" />
		                	</div>
		                </div>
		                <div class="row odd">
		                	<div class="partners_logo col-sm-4">
		                		<img src="./assets/img/twitter_circle_color-512.png" />
		                	</div>
		                	<div class="partners_logo col-sm-4">
		                		<img src="./assets/img/twitter_circle_color-512.png" />
		                	</div>
		                	<div class="partners_logo col-sm-4">
		                		<img src="./assets/img/twitter_circle_color-512.png" />
		                	</div>
		                </div>
	                </div>
	            </div> -->
	        </div>
        </div>

        
        <!-- Want early Access -->
        <div class="earlyAccess-container section-container section-container-image-bg">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12">
	                	<h2> Want early access? </h2>
	                	<form class="subscribe form-inline" role="form" action="assets/subscribe.php" method="post">
	                    	<div class="form-group">
	                    		<div>
	                    		<label class="sr-only" for="name">Name</label>
	                        	<input type="text" name="name" placeholder="Name" class="signup form-control" id="signup_name">
	                        	</div>
	                        	<div>
	                        	<label class="sr-only" for="email">Email</label>
	                        	<input type="text" name="email" placeholder="Email" class="signup form-control" id="signup_email">
	                        	</div>
	                       		<button type="submit" class="btn" id="signup_button">Sign Up  </button>
	                        </div>
	                    </form>
	                </div>
	            </div>
	        </div>
        </div>

        <!-- Javascript -->
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/retina-1.1.0.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/scripts.js"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>