html{
	width:100%;
	margin:0px;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #669966;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

.medium-paragraph {
	font-size: 18px;
	line-height: 32px;
}

.blue { color: #669966; }

::-moz-selection { background: #eee; text-shadow: none; }
::selection { background: #eee; text-shadow: none; }


/***** Loader *****/

.loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	overflow: hidden !important;
	z-index: 99999;
}

.loader-img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -30px 0 0 -30px;
	width: 60px;
	height: 60px;
	background: url(../img/loading.gif) center center no-repeat;
}


/***** General style, all sections *****/

.section-container {
    margin: 0 auto;
    padding-bottom: 80px;
}

.section-container-gray-bg {
	background: #f8f8f8;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 {
	color: #fff;
}

.section-container-image-bg .divider-1 span {
	background: #fff;
	opacity: 0.8;
}

.section-description {
	margin-top: 60px;
    padding-bottom: 10px;
}

.section-description p {
    margin-top: 20px;
	padding: 0 120px;
}
.section-container-image-bg .section-description p {
	opacity: 0.8;
}

.section-bottom-button {
	padding-top: 60px;
}

/*.btn-link-1 {
	position: relative;
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 16px 20px 0 20px;
	background: #669966;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}*/
/*.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }*/
/*
.btn-link-1:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 50%;
	background: rgba(0, 0, 0, 0.1);
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}*/
/*.btn-link-2:hover, .btn-link-2:focus, */
/*.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }*/


/***** Divider *****/

.divider-1 span {
	display: inline-block;
	width: 200px;
	height: 1px;
	background: #ddd;
}


/***** Modal *****/

.modal-content {
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	text-align: left;
}

.modal-body {
	padding: 0 25px 15px 25px;
}

.modal-body img {
	margin-bottom: 15px;
}

.modal-header {
	padding: 25px 25px 15px 25px;
}

.modal-footer {
	padding: 15px 25px 25px 25px;
}

.modal-header, .modal-footer { border: 0; }

.modal-header .close {
	font-size: 36px;
	color: #888;
	font-weight: 300;
	text-shadow: none;
	opacity: 1;
}

.modal-footer button {
	height: 50px;
	margin: 0;
    padding: 0 20px;
	background: none;
	border: 1px solid #888;
	font-size: 16px;
    font-weight: 300;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.modal-footer button:hover { outline: 0; opacity: 0.6; background: none; border: 1px solid #888; color: #888; }

.modal-footer button:focus, .modal-footer button:active:focus, .modal-footer button.active:focus { 
	outline: 0; opacity: 0.6; background: none; border: 1px solid #888; color: #888; 
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.modal-footer button:before {
	background: none;
}

/********** Setters *************/

/* Shutter Out Horizontal */
/*.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #9fc5e7;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
  border-radius: 5px;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #669966;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: white;
  /*background-color: #669966;*/
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}*/
form button.btn:hover{
	opacity: 1;
}
.paragraphLeft{
	text-align: left;
}
/***** Top menu *****/

.navbar {
	padding-top: 10px;
	/*background-color: rgba(0,0,0,0.7);*/
	border: 0;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.navbar-inverse{
	background-color: inherit;
}
.navbar.navbar-no-bg { background: none; }

ul.navbar-nav {
	font-size: 16px;
	color: #fff;
}

.navbar-inverse ul.navbar-nav li a { color: #fff; opacity: 0.8; border-bottom: 1px solid transparent; }
.navbar-inverse ul.navbar-nav li a:hover { color: #fff; opacity: 1; border-bottom: 1px solid #fff; }
.navbar-inverse ul.navbar-nav li a:focus { color: #fff; outline: 0; opacity: 1; border-bottom: 1px solid #fff; }

.navbar-inverse ul.navbar-nav li a.btn-link-2 {
	height: auto;
	margin: 4px 0 0 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #fff;
}
.navbar-inverse ul.navbar-nav li a.btn-link-2:hover, 
.navbar-inverse ul.navbar-nav li a.btn-link-2:focus, 
.navbar-inverse ul.navbar-nav li a.btn-link-2:active, 
.navbar-inverse ul.navbar-nav li a.btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }

.navbar-brand {
	width: 150px;
	max-width: 150%;
	text-indent: -99999px;
	margin: 1px;
	padding: 5px 15px;
}

/***** Top content *****/

.inner-bg {
    padding: 120px 0 200px 0;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; 
	font-weight: 600;
}

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.main_info{
	display: inline-block;
}
.scroll-link{
	font-size: 12px;
	font-weight: 600;
}
}
.subscribe {
	position: relative;
	margin-top: 35px;
}

#span{
	font-weight: bold;
}
/*.subscribe input.subscribe-email {
	width: 320px;
}*/
.subscribe input.signup{
	min-width:250px;
	background: rgba(0,0,0,0.6);
	/*border: white 1px solid;*/
	border-radius: 3px;
	margin:7px;
	height: 45px;
}

input[type="text"]{
	color:white;
}
::-webkit-input-placeholder {
   color: white;
}
:-moz-placeholder { /* Firefox 18- */
   color: white;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}
:-ms-input-placeholder {  
   color: white;  
}

.subscribe #signup_button{
	/*left: 0;*/
	/*position: absolute;*/
	margin:0px;
	margin-left: 7px;
	padding: 5px 15px;
}
.button-lightBlue{
	background-color: #508585;
	padding:5 20px;
	font-size:13px;
	color: white;
	/*border-radius: 5px;*/
	margin:20px;
	cursor: pointer;
	transition: all .3s;
	border:none;
}
.button-lightBlue:hover{
	background-color: #437070;
}

#small_additionalInfo{
	margin-left: 30px;
	padding-top: 18px;
	font-size: 9px;
	vertical-align: bottom;
}
.subscribe .success-message {
	display: none;
	opacity: 0.8;
	position: absolute;
}

.subscribe .error-message {
	display: none;
	position: absolute;
	left: 0;
	bottom: -60px;
	width: 100%;
	opacity: 0.8;
}
.success-message{
	position: fixed;
	left: 50%;
	top:50%;
	width:300px;
	height: 300px;
	margin-left:-150px;
	margin-top: -200px;
	z-index: 1000;
	background-color: white;
	color: #888;
	border-radius: 5px;
	border:3px solid #888;
	display: none;
}
#success{
	font-size: 28px;
	color:#9fc5e7;
	margin-top:105px;
	font-weight: bold;
	margin-bottom: 15px;
}
/*.success-message p{
	
}*/

/***** Video *****/
/*background: efefef*/

/*.video-container .image {
	height: 400px;
	width: 100%;
  	background-image: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/pages/home/video.large.2x-d1922447c52a448fe6970c2930448f27.jpg);
}
#div_videoImage{
	height:400px;
}*/
.video-container .container{
	margin-bottom:30px;
}
#video{
	width:100%;
	height: 400px;
	cursor: pointer;
}
.playing{
  position: fixed;
  top: 50%; left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}
.videoDetail{
	margin-top:15px;
}
.videoDetail p{
	padding:10px;
	display: inline-block;
	text-align: left;
}
.div_blueCircle{
	background-color: #9fc5e7;
	border-radius: 50%;
	display: inline-block;
	height:40px;
	width:40px;
	color:white;
	margin-top:15px;
}
.div_blueCircle p{
	padding:4px;
}
#div_relationalGraph{
	/*width:29%;*/
}
#div_relationalGraph img{
	margin-top:10px;
	height:330px;
	width:400px;
}
.video-container iframe{
	margin-top:40px;
	width:650px;
	height:480px;
	box-shadow: 2px 1px 2px #888888;
}

/***** Features *****/

.features_image{
	max-height:350px;
	margin:20px;
}
.features .div_blueCircle{
	margin-top:20px;
}




/***** On-Demand Data (oldname-pricing) *****/
/*background: 9fc5e7*/
.onDemand-container{
	background-color: #efefef;
	border-top: 1px solid #cccccc;
}
.onDemandData > div{
	height:115px;
	margin:15px;
}
.onDemandData p{
	margin:10px;
}
.data_icon{
	width:50%;
	max-width: 40px;
}

#div_d3Visualization{
	height:350px;
	width:100%;
	/*border: #888 1px solid;*/
	box-shadow: 2px 1px 2px #888888;
}
#d3Caption{
	font-size: 11px;
	line-height: 15px;
}
#div_d3Visualization object{
	width:100%;
	height:100%;
}
#div_recommendData{
	width:70%;
	margin-left:15%;
	margin-top:60px;
	padding:3px;
	padding-top: 10px;
	line-height: 25px;
}
#div_recommendBox{
	display: none;
	position: fixed;
	left:50%;
	top:50%;
	height:200px;
	width:400px;
	margin-left:-200px;
	margin-top:-120px;
	z-index: 1000;
	background-color: #ccc;
}
#p_exit{
	font-weight: bold;
  font-size: 15px;
  margin-right: 10px;
  position: absolute;
  right: 0;
  cursor: pointer;
}
#div_recommendBox form{
	margin-top:30px;
}
#div_recommendBox textarea{
	padding:5px;
  height: 100px;
  width: 350px;
  line-height: 23px;
}

.andMore{
	cursor: pointer;
	font-weight: bold;
}
.andMore:hover{
	opacity: .7;
}
table th{
	background-color: #669966;
	color:white;
}
#andMore{
	display: none;
	position: absolute;
	left:0;
	width:100%;
	height:350px;
	box-shadow: 2px 1px 2px #888888;
	text-align: left;
	font-size: 13px;
	overflow: scroll;
	background-color: white;
	margin:0px;
	padding: 0px 10px;
	margin-top:-400px;
}
#andMore p, h3{
	text-align: center;
}
#andMore div{
	margin:0px;
}
#andMore h3{
	font-size: 24px;
	margin:20px;
}
#andMore p{
	margin: 10px;
  	line-height: 20px;
}
#andMore .div_dataItem p{
	margin:3px;
	height:20px;
	overflow: hidden;
	border-bottom: 1px solid white;
}
.onDemandData .div_dataItem{
	padding:5px;
	/*height:400px;*/
	/*overflow: scroll;*/
	background-color: #eee;
	color:#888888;
	border-radius: 3px;
}
#andMore .providerLabel{
	font-size: 18px;
	color: #669966;
	margin-bottom:20px;
}
/***** About us (original) *****/

.about-us-container {
	border-top: 1px solid #cccccc;
	padding-bottom: 65px;
}

.about-us-box {
	padding:10px;
	padding-top: 30px;
	padding-bottom: 15px;
}

.about-us-container .coreTeam{
	z-index: -100;
}

.about-us-box .about-us-photo {
	position: relative;
	/*width: 160px;*/
	margin: 0 auto;
}

.about-us-box .about-us-photo img {
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
	height: auto;
	width:100%;
}

.about-us-box .about-us-photo .about-us-role {
	position: absolute;
	bottom: 10px;
	left: 0;
	padding: 3px 5px;
	background: #9fc5e7;
	font-size: 12px;
	color: #fff;
	line-height: 14px;
	text-transform: uppercase;
}

.div_bio{
	display:none;
	position: absolute;
	background-color: #eeeeee;
	z-index: 100;
	margin: 10px;
	border: 1px solid #dddddd;
	line-height: 23px;
	padding:10px;
}


/***** Partners *****/
.partners-container{
	background-color: #efefef;
	border-top: 1px solid #cccccc; 
}
.partners-container h3{
	color: #508585;
	margin:20px;
	font-weight: 400;
}
.partners_logo{
	padding-top:20px;
	padding-bottom: 30px;
	border-bottom: #eee 1px solid;
}
.partners_logo img{
	width:150px;
}
.logos{
	margin-top:30px;
}
.partners_logo:nth-child(2n+1) {
	background: white;
}
.partners_logo:nth-child(2n) {
	background: #ddd;
}
.odd .partners_logo:nth-child(2n) {
	background: white;
}
.odd .partners_logo:nth-child(2n+1) {
	background: #ddd;
}
#div_becomePartner{
	width:30%;
	min-width:200px;
	height: 60px;
	margin-left: 35%;
}

#div_becomePartner p{
	padding-top:10px;
	line-height: 20px;
}
#div_becomePartner small{
	color: #eee;
	font-size:12px;
}
.img_partners{
	height: 80px;
	width: 80px;
	/*border: 2px solid #9fc5e7;*/
	margin:40px;
}
/***** early access *****/

.earlyAccess-container h2{
	margin:40px;
}

.earlyAccess-container #signup_button{
	margin-left: 0px;
}

/***** contact info *****/
.contact-container{
	background-color: black;
	padding:40px;
	font-size: 14px;
	/*font-weight:bold;*/
}
.contactLabel{
	color:#aaa;
}