/*original green: #669966*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #669966;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

.medium-paragraph {
	font-size: 18px;
	line-height: 32px;
}

.blue { color: #669966; }

::-moz-selection { background: #669966; color: #fff; text-shadow: none; }
::selection { background: #669966; color: #fff; text-shadow: none; }


/***** Loader *****/

.loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	overflow: hidden !important;
	z-index: 99999;
}

.loader-img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -30px 0 0 -30px;
	width: 60px;
	height: 60px;
	background: url(../img/loading.gif) center center no-repeat;
}


/***** General style, all sections *****/

.section-container {
    margin: 0 auto;
    padding-bottom: 80px;
}

.section-container-gray-bg {
	background: #f8f8f8;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 {
	color: #fff;
}

.section-container-image-bg .divider-1 span {
	background: #fff;
	opacity: 0.8;
}

.section-description {
	margin-top: 60px;
    padding-bottom: 10px;
}

.section-description p {
    margin-top: 20px;
	padding: 0 120px;
}
.section-container-image-bg .section-description p {
	opacity: 0.8;
}

.section-bottom-button {
	padding-top: 60px;
}

.btn-link-1 {
	position: relative;
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 16px 20px 0 20px;
	background: #669966;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
/*.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }*/

.btn-link-1:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 50%;
	background: rgba(0, 0, 0, 0.1);
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
/*.btn-link-2:hover, .btn-link-2:focus, */
/*.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }*/


/***** Divider *****/

.divider-1 span {
	display: inline-block;
	width: 200px;
	height: 1px;
	background: #ddd;
}


/***** Modal *****/

.modal-content {
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	text-align: left;
}

.modal-body {
	padding: 0 25px 15px 25px;
}

.modal-body img {
	margin-bottom: 15px;
}

.modal-header {
	padding: 25px 25px 15px 25px;
}

.modal-footer {
	padding: 15px 25px 25px 25px;
}

.modal-header, .modal-footer { border: 0; }

.modal-header .close {
	font-size: 36px;
	color: #888;
	font-weight: 300;
	text-shadow: none;
	opacity: 1;
}

.modal-footer button {
	height: 50px;
	margin: 0;
    padding: 0 20px;
	background: none;
	border: 1px solid #888;
	font-size: 16px;
    font-weight: 300;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.modal-footer button:hover { outline: 0; opacity: 0.6; background: none; border: 1px solid #888; color: #888; }

.modal-footer button:focus, .modal-footer button:active:focus, .modal-footer button.active:focus { 
	outline: 0; opacity: 0.6; background: none; border: 1px solid #888; color: #888; 
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.modal-footer button:before {
	background: none;
}

/********** Setters *************/
.button-lightBlue{
	background-color: #9fc5e7;
	padding:5 20px;
	font-size:15px;
	color: white;
	border-radius: 5px;
	margin:20px;
	cursor: pointer;
	transition: all .3s;
}
form button.btn:hover{
	opacity: 1;
}

/***** Top menu *****/

.navbar {
	padding-top: 10px;
	background: #333;
	background: rgba(51, 51, 51, 0.3);
	border: 0;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.navbar.navbar-no-bg { background: none; }

ul.navbar-nav {
	font-size: 16px;
	color: #fff;
}

.navbar-inverse ul.navbar-nav li a { color: #fff; opacity: 0.8; border-bottom: 1px solid transparent; }
.navbar-inverse ul.navbar-nav li a:hover { color: #fff; opacity: 1; border-bottom: 1px solid #fff; }
.navbar-inverse ul.navbar-nav li a:focus { color: #fff; outline: 0; opacity: 1; border-bottom: 1px solid #fff; }

.navbar-inverse ul.navbar-nav li a.btn-link-2 {
	height: auto;
	margin: 4px 0 0 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #fff;
}
.navbar-inverse ul.navbar-nav li a.btn-link-2:hover, 
.navbar-inverse ul.navbar-nav li a.btn-link-2:focus, 
.navbar-inverse ul.navbar-nav li a.btn-link-2:active, 
.navbar-inverse ul.navbar-nav li a.btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }

.navbar-brand {
	width: 150px;
	/*background: url(../img/KuiperDataLogo.jpg) left center no-repeat;*/
	text-indent: -99999px;
}

/***** Top content *****/

.inner-bg {
    padding: 120px 0 200px 0;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.main_info{
	display: inline-block;
}
.subscribe {
	position: relative;
	margin-top: 35px;
}

/*.subscribe input.subscribe-email {
	width: 320px;
}*/
.subscribe input.signup{
	width:300px;
	background: transparent;
	border: white 1px solid;
	border-radius: 0;
	margin:10px;
}

::-webkit-input-placeholder {
   color: white;
}
:-moz-placeholder { /* Firefox 18- */
   color: white;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}
:-ms-input-placeholder {  
   color: white;  
}


.subscribe #signup_button{
	background-color: #9fc5e7;
	height: 40px;
	line-height: 40px;
	margin-bottom: 9px;
	margin-left: -72px;
	font-size:15px;
}
#small_additionalInfo{
	margin-left: 5px;
	font-size: 9px;
	vertical-align: bottom;
}
.subscribe .success-message {
	display: none;
	opacity: 0.8;
}

.subscribe .error-message {
	display: none;
	position: absolute;
	left: 0;
	bottom: -60px;
	width: 100%;
	opacity: 0.8;
}


/***** Video *****/
/*background: efefef*/

.videoDetail{
	margin-top:15px;
}
.videoDetail p{
	padding:10px;
	display: inline-block;
}
.div_blueCircle{
	background-color: #9fc5e7;
	border-radius: 50%;
	display: inline-block;
	height:40px;
	width:40px;
	color:white;
	margin-top:15px;
}
.div_blueCircle p{
	padding:4px;
}
#div_relationalGraph{
	/*width:29%;*/
}
#div_relationalGraph img{
	margin-top:10px;
	height:330px;
	width:400px;
}
.video-container iframe{
	margin-top:40px;
	width:650px;
	height:480px;
	box-shadow: 2px 1px 2px #888888;
}

/***** Features *****/

.features_image{
	height:350px;
	margin:20px;
}
.features .div_blueCircle{
	margin-top:20px;
}



/***** On-Demand Data (oldname-pricing) *****/
/*background: 9fc5e7*/
.onDemand-container{
	background-color: #efefef;
	border-top: 1px solid #cccccc;
}
.onDemandData div{
	height:115px;
	margin:15px;
}
.onDemandData p{
	margin:10px;
}
.data_icon{
	width:50%;
}

#div_d3Visualization{
	height:350px;
	width:100%;
	/*border: #888 1px solid;*/
	box-shadow: 2px 1px 2px #888888;
	margin:10px;
}
#d3Caption{
	font-size: 11px;
	line-height: 15px;
}
#div_d3Visualization object{
	width:100%;
	height:100%;
}
#div_recommendData{
	width:70%;
	margin:20px;
	margin-top:60px;
	margin-left:15%;
	padding:3px;
	padding-top: 10px;
	line-height: 25px;
}

/***** About us (original) *****/

.about-us-container {
	border-top: 1px solid #cccccc;
	padding-bottom: 65px;
}

.about-us-box {
	padding-top: 30px;
	padding-bottom: 15px;
}

.about-us-container .coreTeam .about-us-box{
	z-index: -100;
}
.coreTeam > p{
	margin-top:30px;
	margin-bottom: 0px;
}
.about-us-box .about-us-photo {
	position: relative;
	width: 160px;
	margin: 0 auto;
}

.about-us-box .about-us-photo img {
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}

.about-us-box .about-us-photo .about-us-role {
	position: absolute;
	bottom: 10px;
	left: 0;
	padding: 3px 5px;
	background: #9fc5e7;
	font-size: 14px;
	color: #fff;
	line-height: 15px;
	text-transform: uppercase;
}

.about-us-box .about-us-social {
    margin-top: 5px;
    font-size: 36px;
    line-height: 36px;
}

.about-us-box .about-us-social a { color: #ddd; }
.about-us-box .about-us-social a:hover, .about-us-box .about-us-social a:focus { color: #669966; }

.div_bio{
	display:none;
	position: absolute;
	background-color: #eeeeee;
	z-index: 100;
	margin: 10px;
	border: 1px solid #dddddd;
	line-height: 23px;
	padding:10px;
}

/***** Team (old name - About us) *****/

/*.about-us-container {
	padding-bottom: 65px;
	background-color: #888;
}

.about-us-container h2{
}

.team_profile{
	height:120px;
	width:120px;
	border: #0E9FB4 2px solid;
	border-radius: 50%;
	margin-top:-20px;
}*/


/***** Partners *****/
.partners-container{
	background-color: #efefef;
	border-top: 1px solid #cccccc; 
}
.partners_logo{
	padding-top:20px;
	padding-bottom: 30px;
	border-bottom: #eee 1px solid;
}
.partners_logo img{
	width:150px;
}
.logos{
	margin-top:30px;
}
.partners_logo:nth-child(2n+1) {
	background: white;
}
.partners_logo:nth-child(2n) {
	background: #ddd;
}
.odd .partners_logo:nth-child(2n) {
	background: white;
}
.odd .partners_logo:nth-child(2n+1) {
	background: #ddd;
}
#div_becomePartner{
	margin-left:35%;
	width:30%;
	min-width:200px;
	height: 60px;
}

#div_becomePartner p{
	padding-top:10px;
	line-height: 20px;
}

.img_partners{
	height: 80px;
	width: 80px;
	/*border: 2px solid #9fc5e7;*/
	margin:40px;
}
/***** early access *****/

.earlyAccess-container h2{
	margin:40px;
}

.earlyAccess-container #signup_button{
	margin-left: 0px;
}

